<div class="row">
  <div class="col-md-12">
    <ul class="list-unstyled">
      <li>Highlighting errors:
        <ul>
          <li><strong>Select</strong> the part of translation where you have identified a <strong>translation error</strong> (drag or click start & end).</li>
          <li><strong>Click</strong> on the highlight to change error severity (minor/major) or remove the highlight.</li>
          <li>If something is missing, highlight the word <b style="font-family: monospace, monospace;">[MISSING]</b> to mark this type of error. </li>
        </ul>
      </li> 
      <li>Choosing error severity:
        <ul>
          <li><span class="instruction_sev" id="instruction_sev_minor">Minor errors:</span> Style, grammar, word choice could be better or more natural. </li>
          <li><span class="instruction_sev" id="instruction_sev_major">Major errors:</span>: The meaning is changed significantly and/or the part is really hard to understand. </li>
        </ul>
      </li>
      <li>Note:
        <ul>
          <li>Highlight the word or general area of the error and use multiple highlights for different errors.</li>
          <li>Pay particular attention to translation consistency between texts across the whole document.</li>
          <li>If the translation is in the wrong language, mark it fully and assign lowest score.</li>
          <li>If the translation contains additional text not present in the source text or alternative secondary translation, mark it as a major error.</li>
        </ul>
      </li>
    </ul>

    <p>Rate the translations based on the marked errors and the following criteria:</p>
    <p>
    <strong>Naturalness</strong>: Does the translation sound fluent in the target language?<br/>
    <strong>Accuracy</strong>: Does the translation correctly preserve the meaning of the source text?<br/>
    <strong>Coherence</strong>: Does the sentence translation fit well in the document context?<br/>
    </p>
    <p>Rating scale:</p>
  </div>
</div>