<div class="slider-box">
  <table class="slider-grid" style="width:100%; color:#777;">
  <tr>
    <td class="col-xs-1" style="text-align:left;">F</td>
    <td class="col-xs-2" style="text-align:center;">D</td>
    <td class="col-xs-2" style="text-align:center;">C</td>
    <td class="col-xs-2" style="text-align:center;">B</td>
    <td class="col-xs-1" style="text-align:right;">A</td>
  </tr>
  </table>
</div>
<div class="col-sm-12">
  <div id="slider{{ slidernum }}{{ sliderid }}" class="slider slider{{ slidernum }}" style="margin-top:10px;"></div>
  <table class="sqm-labels" style="color:#777; margin-top:1ex; font-size:x-small; width:100%;">
    <tr>
      <td class="sqm-label sqm-label-first col-xs-1" style="vertical-align:top;text-align:left;padding-left:0;">Not acceptable</td>
      <td class="sqm-label col-xs-2" style="vertical-align:top;text-align:center;">Borderline</td>
      <td class="sqm-label col-xs-2" style="vertical-align:top;text-align:center;">Acceptable</td>
      <td class="sqm-label col-xs-2" style="vertical-align:top;text-align:center;">Good</td>
      <td class="sqm-label sqm-label-last col-xs-1" style="vertical-align:top;text-align:right;padding-right:0;">Excellent</td>
    </tr>
  </table>
</div>
