<div class="quality-scale btn-group btn-group-justified" id="rating{{ sliderid }}" data-target-input="score{{ sliderid|default:'' }}" role="radiogroup" aria-label="Quality rating">
  <div class="btn-group" role="group">
    <label class="btn btn-quality quality-option quality-option-1">
      <span class="quality-check glyphicon glyphicon-ok" aria-hidden="true"></span>
      <input type="radio" name="quality{{ sliderid|default:'1' }}" value="0" data-score="0" autocomplete="off">
      <span class="quality-label">
        <span class="quality-grade">F</span>
        <span class="quality-description">Not acceptable</span>
      </span>
    </label>
  </div>
  <div class="btn-group" role="group">
    <label class="btn btn-quality quality-option quality-option-2">
      <span class="quality-check glyphicon glyphicon-ok" aria-hidden="true"></span>
      <input type="radio" name="quality{{ sliderid|default:'1' }}" value="25" data-score="25" autocomplete="off">
      <span class="quality-label">
        <span class="quality-grade">D</span>
        <span class="quality-description">Borderline</span>
      </span>
    </label>
  </div>
  <div class="btn-group" role="group">
    <label class="btn btn-quality quality-option quality-option-3">
      <span class="quality-check glyphicon glyphicon-ok" aria-hidden="true"></span>
      <input type="radio" name="quality{{ sliderid|default:'1' }}" value="50" data-score="50" autocomplete="off">
      <span class="quality-label">
        <span class="quality-grade">C</span>
        <span class="quality-description">Acceptable</span>
      </span>
    </label>
  </div>
  <div class="btn-group" role="group">
    <label class="btn btn-quality quality-option quality-option-4">
      <span class="quality-check glyphicon glyphicon-ok" aria-hidden="true"></span>
      <input type="radio" name="quality{{ sliderid|default:'1' }}" value="75" data-score="75" autocomplete="off">
      <span class="quality-label">
        <span class="quality-grade">B</span>
        <span class="quality-description">Good</span>
      </span>
    </label>
  </div>
  <div class="btn-group" role="group">
    <label class="btn btn-quality quality-option quality-option-5">
      <span class="quality-check glyphicon glyphicon-ok" aria-hidden="true"></span>
      <input type="radio" name="quality{{ sliderid|default:'1' }}" value="100" data-score="100" autocomplete="off">
      <span class="quality-label">
        <span class="quality-grade">A</span>
        <span class="quality-description">Excellent</span>
      </span>
    </label>
  </div>
</div>
