<div class="slider-box">
  <table class="slider-grid scalar-slider-grid">
  <tr>
    <td class="col-xs-1">1</td>
    <td class="col-xs-1">2</td>
    <td class="col-xs-1">3</td>
    <td class="col-xs-1">4</td>
    <td class="col-xs-1">5</td>
    <td class="col-xs-1">6</td>
    <td class="col-xs-1">7</td>
    <td class="col-xs-1">8</td>
    <td class="col-xs-1">9</td>
    <td class="col-xs-1">10</td>
  </tr>
  </table>
</div>
<div class="col-sm-12">
  <div id="slider{{ slidernum }}{{ sliderid }}" class="slider slider{{ slidernum }} scalar-slider" data-discrete-count="10" data-discrete-min="0" data-discrete-max="100"></div>
  <table class="sqm-labels" style="color:#777; margin-top:1ex; font-size:x-small; width:100%;">
    <tr>
      <td class="sqm-label col-xs-2" style="vertical-align:top;text-align:center;">Not acceptable</td>
      <td class="sqm-label col-xs-2" style="vertical-align:top;text-align:center;">Borderline</td>
      <td class="sqm-label col-xs-2" style="vertical-align:top;text-align:center;">Acceptable</td>
      <td class="sqm-label col-xs-2" style="vertical-align:top;text-align:center;">Good</td>
      <td class="sqm-label col-xs-2" style="vertical-align:top;text-align:center;">Excellent</td>
    </tr>
  </table>
</div>
