# Appraise
Batches
development.db*
Examples/**/*.csv
Examples/**/*.log
Packages
regressiontests.db
db.sqlite3*
/static
!/static/**/

# Python
*.py[cod]
__pycache__
.venv
venv

# Temporary files
*~
appraise.log

# Editors
.vscode
*.sw[po]

# Custom
Scripts/restart_all.sh
